<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
      body {
        font-family: 'Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 400;
        font-size: 1em;
        line-height: 21px;
      }
      .fs-1 {
        font-size: 1.75rem
      }
      .text-orange-eic {
        color: #FE7B3C;
      }
      .button {
        background-color: #1e1e1e; /* Green */
        border: none;
        color: white !important;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
